@model dt191g_projekt.Models.SanitationModel


@{
    ViewData["Title"] = "Information";
}

<h1>Sanerings</h1>

<div class="details">
    <h4>Information</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SanitationType)
        </dt>
        <dd class="col-sm-10">
            @(Model.SanitationType?.ToString() ?? "Ej angivet")
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @(Model.Location?.ToString() ?? "Ej angivet")
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @(Model.Description?.ToString() ?? "Ej angivet")
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WasteAmount)
        </dt>
        <dd class="col-sm-10">
            @(Model.WasteAmount?.ToString() + " m³" ?? "Ej angivet")
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker)
        </dt>
        <dd class="col-sm-10">
            @(Model.Worker != null ? Model.Worker.Name : "Ej tilldelad")
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @(Model.Customer != null ? Model.Customer.Name : "Ingen kund angiven")
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a asp-action="Index">Tillbaka</a>
</div>
